<a href="https://colab.research.google.com/github/Deepika441/Assignments/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
s1 = "Hello"
s2 = "World"
concatenated_string = s1 + " " + s2
print("Concatenated string:", concatenated_string)

Concatenated string: Hello World

In [4]:
name = "Nanda Sohan"
age = 20
formatted_string = "Name: %s, Age: %d" % (name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: Nanda Sohan, Age: 20

In [6]:
from string import Template
template = Template("Name: $name, Age: $age")
formatted_string = template.substitute(name=name, age=age)
print("Formatted string:", formatted_string)

Formatted string: Name: Nanda Sohan, Age: 20

In [8]:
formatted_string = "Name: {}, Age: {}".format(name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: Nanda Sohan, Age: 20

In [9]:
result_add = 4 + 3
print("Addition result:", result_add)

Addition result: 7

In [10]:
result_sub = 9 - 2
print("Subtraction result:", result_sub)

Subtraction result: 7

In [11]:
result_mul = 5 * 8
print("Multiplication result:", result_mul)

Multiplication result: 40

In [12]:
result_div =25 / 5
print("Division result:", result_div)

Division result: 5.0

In [13]:
result_exp = 5 ** 5
print("Exponentiation result:", result_exp)

Exponentiation result: 3125

In [15]:
result_mod = 100 % 2
print("Modulus result:", result_mod)

Modulus result: 0

In [16]:
x = 100
x -= 20
print("After subtraction assignment:", x)

After subtraction assignment: 80

In [17]:
y = 4
y *= 4
print("After multiplication assignment:", y)

After multiplication assignment: 16

In [15]:
z = 20
z /= 4
print("After division assignment:", z)

After division assignment: 5.0